<!DOCTYPE HTML>
<html>
	<head>
		<title>Fake or Real News?</title>
		<!--- assets/css/main.css --->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css ') }}" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Fake/Real<br />
						News Predictor</h1>
						<p>A model that utilizes Naive Bayes and TFIDF to predict if a news article is fake or real</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Model</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/">Predictor</a></li>
							<li class="active"><a href="model">Model</a></li>
							<li><a href="source-code">Source Code</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">By Aaron Yang</span>
									<h2><a href="#">The Model</a></h2><br>

									<h3 class="underline">Intro</h3>
									<p>A combined set of labeled fake news and real news was used to train a naive bayes model to predict the probability that the article is fake based on its text content.
										The model was predicting with an 85% accuracy among the ~1,000 articles in our testing set with training set of ~4,000 articles.</p>

									<h3 class="underline">Method</h3>
									<p class="method align-left">1. Real and fake articles are randomly selected for training and test set</p>
									<p class="method align-left">2. Training set of articles are then fed into a count vectorizer to tokenize the text content</p>
									<p class="method align-left">3. TF-IDF is run on the document-words matrix</p>
									<p class="method align-left">4. The top 7000 words are collected into a vocabulary and used for future count vectorizers</p>
									<p class="method align-left">5. Data is then used fitted to a naive bayes model</p>

									<h3 class="underline">Resources</h3>
									<p>Visit the source code to see the python notebook as well all data that was used</p>
									<a href="https://www.kaggle.com/mrisdal/fake-news">Fake News Dataset</a><br>
									<a href="https://webhose.io/">Scraper for Real News</a>
								</header>
							</article>

					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

	</body>
</html>